{% extends 'base.html' %}

{% block title %}预约订单{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-register' action="/edit/{{pk}}" method="post">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}

              <h2 class="text-center">回复信息</h2>

              <div class="form-group">
                  {{ newappoint_form.doc_message.label_tag }}
                  {{ newappoint_form.doc_message }}
              </div>

              <div class="form-group">
                  {{ newappoint_form.YN.label_tag }}
                  {{ newappoint_form.YN }}
              </div>

              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}