{% extends "base.html" %}

{% block title %}医疗中心{% endblock %}

{% block content %}

<div class="post">
            <h3>
                <a href="/doctor" class="text-info">
                doctor
                </a>
            </h3>
    <hr>
    <h3>
                <a href="/client" class="text-info">
                client
                </a>
            </h3>
    <hr>
    <h3>

                <a href="/blogs" class="text-info">
                文章
                </a>
            </h3>
    <hr>
    <h3>

                <a href="/hospital" class="text-info">
                医院
                </a>
            </h3>
    <hr>


</div>



{% endblock %}